<<<<<<< HEAD
header {
  background-color: #f00;
  height: 70px;
  width: 100%;
=======
header{
    Background-color:#FF0000;
    height: 70px;
    width:100%;
>>>>>>> 55ee0c5239893c42778483aeb29e87dc2653e833
}
