body {
<<<<<<< HEAD
=======
	margin: 0px;
	padding: 0px;
>>>>>>> 55ee0c5239893c42778483aeb29e87dc2653e833
	height: 100%;
	color: #484848;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
}
